<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<!-- Elements to display book information -->
<br>
<div id="books"></div>
<script src="/scripts/fetchBooks.js"></script>

<br>

<div class="forms">
    <div id="add_form">
        <h2 class= "formTitle">Add Book</h2>
        <form id="addBookForm">
            <img id="add_book_preview" ><br>
            <br><label class="image_label" for="image">Select image</label><input type="file" id="image" name="image" onchange="fileSelected(event)"><br>
            <script>
                function fileSelected(event){
                    const file = event.target.files[0];
                    const reader = new FileReader();
                    reader.onload = function(event) {
                        document.getElementById('add_book_preview').src = event.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            </script>

            <input type="text" id="bookName" name="bookName" placeholder="Name of the book"><br>

            <input type="text" id="author" name="author" placeholder="Author name"><br>

            <textarea id="description" name="description" placeholder="Description"></textarea><br>

            <input type="text" id="genre" name="genre" placeholder="Book genre"><br>

            <label for="rating">Rating</label><br>
            <input type="number" min="1" max="10" step="0" id="rating" name="rating"><br>

            <br><button class="editButton" type="submit">Add book</button>
        </form>
        <script src="/scripts/addBook.js"></script>
    </div>
    <div id="edit_form">
        <h2 class= "formTitle">Edit book</h2>
        <form id="editBookForm">
            <img id="edit_image_preview"><br>
            <p id="edit_bookId" style="display: none"></p>

            <br><label class="image_label" for="edit_image">Select image</label><input type="file" id="edit_image" name="image"><br>

            <input type="text" id="edit_bookName" name="bookName" ><br>

            <input type="text" id="edit_author" name="author"><br>

            <textarea id="edit_description" name="description"></textarea><br>

            <input type="text" id="edit_genre" name="genre"><br>

            <label for="rating">Rating</label><br>
            <input type="number" min="1" max="10" step="0" id="edit_rating" name="rating"><br>

            <br><button class="editButton" type="submit">Edit book</button>
        </form>
        <script src="/scripts/editBook.js"></script>
    </div>
    <div id="delete_book">
        <h2 class= "formTitle">Delete book</h2>
        <form id="deleteBookForm">
            <label for="delete_bookName">Delete book</label><br>
            <input type="text" id="delete_bookName" name="bookName" placeholder="Put the book name to delete"><br>
            <br><button class="editButton" type="submit">Delete</button>
        </form>
        <script src ="/scripts/deleteBook.js"></script>
    </div>
</div>
<br>
</body>
</html>
