body {
    background-image: url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?cs=srgb&dl=pexels-pixabay-159711.jpg&fm=jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

#books {
    position: relative;
    background-color: #cdecff;
    display: grid;
    background-color: rgba(205, 228, 255, 0.5);
    grid-template-columns: repeat(auto-fill, minmax(166px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

#books input[type="text"], #books input[type="textarea"] {
    background-color: #ffffff;
    border: 2px solid #302550;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    vertical-align: top;
    margin-top: -5px;
    transition: background-color 0.15s, color 0.15s, box-shadow 0.15s;
}

.book_name {
    font-family: "Arial Black", serif;
    color: #cdecff;
    padding: 5px;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-wrap: break-word;
    hyphens: auto;
}

.book_author {
    font-family: "Arial Black", serif;
    color: #262626;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-wrap: break-word;
    hyphens: auto;
}

.book_image img {
    margin-top: 13px;
    width: 166px;
    height: 250px;
    object-fit: cover;
}

.editButton {
    background-color: #5ABBBB;
    border: 2px solid #302550;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    vertical-align: top;
    margin-top: -5px;
    transition: background-color 0.15s, color 0.15s, box-shadow 0.15s;
}

.editButton:hover {
    background-color: white;
    color: #5ABBBB;
    box-shadow: 1px 1px 5px black;

}

.editButton:hover {
    color: #3f8585;
}

.book_container {
    text-align: center;
}

.saveButton {
    display: none;
}

.forms {
    position: relative;
    background-color: rgba(205, 236, 255, 0.7);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(166px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.formTitle {
    font-family: "Arial Black", serif;
    color: #262626;
    font-size: 20px;
    width: 150px;
    height: 50px;
    text-align: center;
    align-content: center;
    margin-left: 23px;
    background-color: rgba(85, 255, 237, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px)
}

.forms .image_label{
    margin: 0 auto;
    display: block;
}

.forms input[type="file"]{
    display: none;
}
.forms .image_label {
    margin: 0 auto;
    display: block;
    width: max-content;
    background: rgba(85, 255, 237, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}

.forms .image_label:hover {
    border-color: black;
    border-radius: 3px;
}

.forms .image_label:active{
    background: -webkit-linear-gradient(#f8f8f8, #ece9e9);
}

.forms input[type="text"] {
        width: 100%;
        padding: 6px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
}
.forms textarea {
    resize: none;
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.forms img {
    margin: 0 auto;
    display: block;
    width: 166px;
    height: 250px;
    object-fit: cover
}
.forms input[type="number"]{
    margin: 0 auto;
    display: block;
}
.forms label[for="rating"]{
    margin: 0 auto;
    display: block;
    width: max-content;
}
.forms label[for="delete_bookName"]{
    margin: 0 auto;
    display: block;
    width: max-content;
}
.forms button{
    margin: 0 auto;
    display: block;
}